.filter-field-icon {
    position: absolute;
    font-size: 20px;
}

.filter-field-label {
    margin-left: 28px;
}

.apply-filters {
    @extend .secondary-button;
}

.clear-filters {
    @extend .regular-button;
    margin-left: 14px;
}
