.profile-title {
    display: block;
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 14px;
}

.profile-title-button {
    margin-left: 14px;
}

.profile-updated {
    font-size: 12px;
    line-height: 14px;
    color: #888;
    font-weight: 400;
}

.profile-field {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 14px;
}

.profile-field-icon {
    position: absolute;
    font-size: 20px;
}

.profile-field-label {
    margin-left: 28px;
}

.profile-field-url {
    @extend .profile-field-label;
    font-weight: 500;
}

.profile-field-labelless {
    margin-left: 28px;
}

.profile-field-emphasize {
    font-weight: 500;
}

.profile-summary {
    margin-bottom: 14px;

    &:last-child {
        margin-bottom: 0;
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
}

.pagination-button {
    @extend .regular-button;
    flex: 1 1 25%;
    max-width: 100px;
}

.pagination-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.discord-tag {
    cursor: pointer;
    font-weight: 500;
}

.discord-tag-copied {
    @extend .profile-updated;
    margin-left: 6px;
}
