%badge {
    font-size: 12px;
    margin: 0 12px;
    color: #000000bb;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 500;

}

.party-group-badge {
    @extend %badge;
    background: rgba(40, 167, 69, 29%);
}

.community-organization-badge {
    @extend %badge;
    background: rgba(96, 40, 167, 29%);
}
