.organization-info-container {
    align-self: center;

    @media screen and (min-width: 640px) {
        position: relative;
    }
}

.organization-info-icon {
    font-size: 20px;
    color:#888;
    cursor: pointer;

    &:hover {
        color: $text-color;
    }
}

.organization-info {
    @extend .popover, .popover-centered;
    padding: 14px;

    > .organization-info-list:not(:last-child) {
        margin-bottom: 14px;
    }
}

.organization-info-intro {
    color: #888;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.organization-info-list {
    @extend .organization-info-intro;
    list-style: disc;
    padding-left: 16px;
    > *:not(:last-child) {
        margin-bottom: 7px;
    }
}
