.call-to-action {
    background-color: #603520;
    color: white;
    padding: 60px 21px;
    border-bottom: 1px solid #ccc;
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: auto;
}

.call-to-action-text {
    text-align: center;
}

.call-to-action-heading {
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 28px;
}

.call-to-action-paragraph {
    max-width: 640px;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0 auto 28px;
}

.call-to-action-button {
    @extend .primary-button;
    padding: 18px 24px;
    font-size: 16px;

    &:active {
        color: white;
    }
}
