.games {
    padding: 40px 0;

    .game-card:not(:last-child) {
        margin-bottom: 21px;
    }
}

.choose-game {
    font-size: 20px;
    text-align: center;
    margin-bottom: 28px;
    padding: 0 21px;
}

.game-card {
    height: 200px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    max-width: 960px;
    margin: auto;
    cursor: pointer;

    @media screen and (min-width: 960px) {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.game-card-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: calc(100% - 56px);
    padding: 28px;
    vertical-align: top;
    // background-image: set during runtime in style
    background-position-x: center;

    @media screen and (min-width: 600px) {
        display: inline-flex;
        width: 320px;
        background: #533a28 !important;
    }

    @media screen and (min-width: 960px) {
        border-radius: 4px 0 0 4px;
    }
}

.game-card-heading {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.game-card-logo {
    height: 20px;
    vertical-align: -2px;
    margin-right: 7px;
}

.game-card-name {
    color: white;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: #f7f7fa;
    }
}

.game-card-profile-count {
    font-size: 14px;
    font-weight: 400;
    color: white;
    vertical-align: 1px;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: #f7f7fa;
    }
}

.game-card-profiles {
    display: block;
    margin-bottom: 10px;
    line-height: 1.5;
}

.game-card-description {
    color: white;
    line-height: 1.5;
}

.game-card-image {
    // background-image: set during runtime in style

    @media screen and (min-width: 600px) {
        display: inline-block;
        height: 100%;
        width: calc(100% - 376px);
        background-blend-mode: normal;
        background-position-x: center;
    }

    @media screen and (min-width: 960px) {
        border-radius: 0 4px 4px 0;
    }
}
