.call-to-action {
    position: relative;
    background-color: hsl(20, 20%, 19%);
    padding: 100px 21px;

    @media screen and (min-width: 700px) {
        padding: 200px 21px;
    }
}

.call-to-action-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3a2d27dd;
}

.call-to-action-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.call-to-action-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: auto;
}

.call-to-action-text {
    text-align: center;
}

.call-to-action-heading {
    color: #ffffffdd;
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 28px;
    max-width: 700px;
}

.call-to-action-paragraph {
    color: #ffffffbb;
    max-width: 700px;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0 auto 48px;
}

.call-to-action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 640px;
    margin: auto;
}

.call-to-action-button-group {
    max-width: 250px;
    padding: 0 14px;

    &:not(:last-child) {
        margin-bottom: 35px;
    }
}

@media screen and (min-width: 400px) {
    .call-to-action-buttons {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: unset;
    }

    .call-to-action-button-group:not(:last-child) {
        margin-bottom: unset;
    }
}

.call-to-action-button {
    @extend .primary-button;
    padding: 18px 0;
    font-size: 16px;
    width: 150px;
    margin-bottom: 14px;

    &:active {
        color: white;
    }
}

.call-to-action-secondary-button {
    @extend .secondary-button;
    padding: 18px 24px;
    font-size: 16px;
    width: 170px;
    margin-bottom: 14px;
    box-sizing: border-box;

    &:active {
        color: white;
    }
}

.call-to-action-icon {
    margin-right: 7px;
}
