.call-to-action {
    position: relative;
    padding: 100px 21px;

    @media screen and (min-width: 700px) {
        padding: 200px 21px;
    }
}

.call-to-action-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(19, 20%, 19%, 0.7);
}

.call-to-action-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.call-to-action-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.call-to-action-text {
    text-align: center;
}

.call-to-action-heading {
    color: #ffffffdd;
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 28px;
    max-width: 800px;
}

.call-to-action-paragraph {
    color: #ffffffdd;
    max-width: 800px;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0 auto 48px;
}

.call-to-action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    justify-content: space-evenly;
}

.call-to-action-button {
    @extend .primary-button;
    font-size: 16px;
    padding: 18px;
    width: 150px;
    text-align: center;
}
