.features {
    padding: 42px 21px;
    color: white;
    background: #b15e36;
}

.features-heading {
    font-size: 32px;
    line-height: unset;
    text-align: center;
    margin-bottom: 32px;
}

.features-feature-title {
    text-align: center;
    font-size: 20px;
}

.features-feature-description {
    text-align: center;
    margin-bottom: 32px;
}

.feature-icon {
    margin-right: 12px;
}
