.why {
    padding: 42px 21px;
}

.why-heading {
    font-size: 32px;
    line-height: unset;
    text-align: center;
    margin-bottom: 32px;
}

.why-reason-title {
    text-align: center;
    font-size: 20px;
}

.why-reason-description {
    text-align: center;
    margin-bottom: 32px;
}

.why-icon {
    margin-right: 12px;
}
