/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../webfonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../webfonts/roboto-v20-latin-regular.woff') format('woff');
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local(''),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../webfonts/roboto-v20-latin-500.woff2') format('woff2'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../webfonts/roboto-v20-latin-500.woff') format('woff');
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../webfonts/roboto-v20-latin-700.woff2') format('woff2'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../webfonts/roboto-v20-latin-700.woff') format('woff');
}
