.select-game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.select-game-base-choice {
    background-size: contain;
    width: 195px;
    height: 240px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 8px;
    margin: 14px 7px 0;
    border: 4px white solid;
    overflow: auto;
}

.select-game-choice {
    @extend .select-game-base-choice;
    cursor: pointer;

    &:hover {
        border-color: $primary-color;
    }
}

.select-game-selected-choice {
    @extend .select-game-choice;
    border-color: $primary-color;
}

.select-game-choice-ribbon {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 7px;
    background: #603520dd;
}

.select-game-choice-title {
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
    width: 100%;
}
