$primary-color: #b15e36;
$text-color: rgb(26, 26, 27);
$disabled-color: rgb(221, 221, 221);
$error-color: orangered;
$max-width: 960px;

%bordered {
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: hsla(0, 0%, 80%, 1);
}

body {
    font-family: sans-serif;
    font-size: 14px;
    color: $text-color;
    background-color: #eeeff1;
    margin: 0;
}

h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 22px;
    line-height: 26px;
}

h2 {
    font-size: 18px;
    line-height: 22px;
}

h3 {
    font-size: 14px;
    line-height: 21px;
}

p {
    margin-top: 0;
    line-height: 21px;
    margin-bottom: 7px;
}

p:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: $primary-color;
}

button {
    @extend %bordered;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
}

button[disabled] {
    @extend button;
    color: $disabled-color;
    border-color: $disabled-color;
    cursor: not-allowed;
}

label {
    margin-bottom: 7px;
}

input {
    @extend %bordered;
    padding: 5px;
}

textarea {
    @extend %bordered;
    padding: 5px;
    resize: vertical;
}
