.card {
    @extend %bordered;
    background-color: white;
    margin-bottom: 21px;

    &:last-child {
        margin-bottom: 0;
    }
}

.card-title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    padding: 7px 21px;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.card-subtitle {
    font-size: 12px;
    line-height: 14px;
    color: #888;
    font-weight: 400;
}

.card-title-button {
    margin-left: 14px;
}

.card-content {
    padding: 21px;
}

.card-section {
    @extend .card-content;

    &:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
}

.card-footer {
    display: block;
    line-height: 40px;
    padding: 7px 21px;
}
