.card {
    @extend %bordered;
    background-color: white;
    margin-bottom: 28px;
}

.card-title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    padding: 14px 28px;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.card-title-button {
    margin-left: 14px;
}

.card-content {
    padding: 28px;
}

.card-section {
    @extend .card-content;

    &:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
}
