.content {
    max-width: 1002px;
    // calc(100vh - topBar - footer - padding);
    min-height: calc(100vh - 41px - 41px - 42px);
    padding: 21px 0;
    margin: auto;
}

.content-title {
    display: block;
    margin-bottom: 21px;
    line-height: 30px;
    padding: 0 21px;
}

.content-title-text {
    display: inline;
    font-size: 20px;
    margin-right: 21px;
    overflow-wrap: break-word;
}

.content-title-button {
    margin-right: 21px;
}

.content-title-tabs {
    display: inline-block;

    .content-title-tab:last-child {
        margin-right: 0;
    }
}

.content-title-tab {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 21px;
    margin-bottom: 0;
}

.content-description {
    display: block;
    padding-left: 21px;
    margin-top: -7px;
    margin-bottom: 21px !important;
    font-size: 14px;
}

.single-content {
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
}
