.content-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 21px;
    line-height: 30px;
    padding: 0 21px;
}

.content-title-text {
    display: inline;
    font-size: 20px;
    margin-right: 21px;
    overflow-wrap: break-word;
}

.content-title-tabs {
    display: inline-block;

    .content-title-tab:last-child {
        margin-right: 0;
    }
}

.content-title-tab {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 21px;
    margin-bottom: 0;
}
