.form-heading {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 25px;
}

.form-subheading {
    text-align: center;
    margin-bottom: 28px;
}

.form-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 21px;
    background-color: white;
}

.form-next-button {
    @extend .primary-button;
    width: 100px;
}

.form-back-button {
    @extend .secondary-button;
    width: 100px;
}

.form-bottom-text {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 0;
}

.single-form-container {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    max-width: 380px;
    margin: 64px auto;

    @media screen and (min-width: 380px) {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.wide-single-form-container {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    margin: 64px auto;

    @media screen and (min-width: 1000px) {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
