.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.responsive-input-groups {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 630px) {
        margin-right: -21px;
    }

    .input-group {
        flex-basis: 100%;
        max-width: 100%;

        @media screen and (min-width: 630px) {
            flex-basis: calc(50% - 21px);
            max-width: calc(50% - 21px);
            margin-right: 21px;
        }

        @media screen and (min-width: 930px) {
            flex-basis: calc(33.33% - 21px);
            max-width: calc(33.33% - 21px);
        }
    }
}

.input-label {
    display: block;
    margin-bottom: 7px;
    line-height: 21px;
}

.checkbox-input-label {
    display: flex;
    margin: 0;
    line-height: 21px;
}

.input-sublabel {
    font-size: 12px;
    color: #888;
}

.input-underlabel {
    @extend .input-sublabel;
    line-height: 1.5;
    margin-top: 5px;
}

.text-line-input {
    @extend %bordered;
    font-family: $font;
    font-size: 14px;
    line-height: 20px;
    padding: 9px 12px;
}

.text-input {
    @extend .text-line-input;
    resize: vertical;
    height: 160px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
    cursor: pointer;
    vertical-align: middle;
    flex-shrink: 0;
}
