@import "Base";
@import "SingleForm";
@import "../Components/Divider";
@import "../Components/TopBar";
@import "../Components/Modal";
@import "../Components/SingleSelect";
@import "../Components/MultiSelect";
@import "../Components/Welcome";
@import "../Components/WelcomeBanner";
@import "../Components/Games";
@import "../Game/FilterProfiles";

.hidden {
    display: none;
}

.error {
    color: $error-color;
    border-color: $error-color;
}

.input-error {
    @extend .error;
    font-size: 14px;
    margin: 14px 0 0 0;
}

.other-error {
    @extend .error;
    font-size: 14px;
}

.content {
    max-width: $max-width;
    padding: 14px;
    margin: 41px auto auto auto;

    >* {
        margin-bottom: 14px;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.single-content {
    width: 100vw;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    overflow: hidden auto;
}

.card-header {
    padding-left: 14px;

    button {
        margin-left: 14px;
    }
}

.card-subheader {
    font-size: 14px;
}

.card {
    @extend %bordered;
    background-color: white;
    padding: 14px;
    margin-bottom: 14px;
}

.card-title {
    button {
        margin-left: 14px;
    }
}

.empty {
    margin: 0 !important;
    padding: 0 !important;
}
