.single-form {
    @extend %bordered;
    display: flex;
    flex-direction: column;
    padding: 28px;
    background-color: white;
    margin: 64px auto;
    max-width: 320px;
}

.wide-single-form {
    @extend .single-form;
    max-width: 480px;
}
