.timespan-group {
    display: flex;
    align-items: center;
}

.timespan-group-from {
    margin-right: 7px;
}

.timespan-group-to {
    margin: 0 7px;
}

.timespan-group-input {
    flex: 1 0 auto;
    width: 60px;
}
