#top-bar {
    position: fixed;
    height: 2.5em;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    a,
    button {
        margin-right: 1.5em;
    }
}

#top-bar-title a {
    margin-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
}
