%ad {
    text-align: center;

    &:empty {
        display: none;
    }
}

.description-leaderboard {
    @extend %ad;
    margin-bottom: 21px;
}

.section-leaderboard {
    @extend %ad;
    @extend .card-section;
    min-width: 100%;
    padding: 0;
}

.filters-mpu {
    @extend %ad;
    position: sticky;
    top: 64px;
}

#celtra-reveal-wrapper { // .sticky-leaderboard
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin-top: 21px;
    pointer-events: none;

    &:empty {
        display: none;
    }

    & > * {
        pointer-events: initial;
    }
}
