%button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $font;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 9px 12px;
    cursor: pointer;
}

.regular-button {
    @extend %button;
    @extend %bordered;
    color: $text-color;
    background-color: white;
    border-color: #969696;

    &:hover {
        background-color: #f2f2f2;
    }

    &:active {
        background-color: #e6e6e6;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: white;
        border-color: #ccc;
        color: #ccc;
    }
}

.primary-button {
    @extend %button;
    @extend %colored-bordered;
    color: white;
    background-color: $primary-color;

    &:hover {
        background-color: #bd6941;
        border-color: #bd6941;
    }

    &:active {
        background-color: #a14d23;
        border-color: #a14d23;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: $disabled-primary-color;
        border-color: $disabled-primary-color;
    }
}

.secondary-button {
    @extend %button;
    @extend %colored-bordered;
    color: $primary-color;
    background-color: white;

    &:hover {
        background-color: #f7f2f2;
    }

    &:active {
        background-color: #f2e3e3;
    }
}

.button-icon {
    margin-right: 6px;
}
