.card {
    border-top: $border;
    border-bottom: $border;
    background-color: white;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    > :not(:first-child) {
        border-top: $border;
    }

    @media screen and (min-width: 1000px) {
        border: $border;
        border-radius: 4px;
    }
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 40px;
    padding: 7px 21px;
}

.card-heading {
    display: inline;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    flex-shrink: 0;
}

.card-subheading {
    font-size: 12px;
    line-height: 1.5;
    color: $light-text-color;
}

.card-header>* {
    min-height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.card-section {
    padding: 21px;
}

.card-section-header {
    padding: 7px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card-section-heading {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}
