.content {
    max-width: 1002px;
    // calc(100vh - topBar - footer - padding);
    min-height: calc(100vh - 41px - 41px - 42px);
    padding: 21px 0;
    margin: auto;
}

.wide-content {
    @extend .content;
    // 422 + 962 + 21 + 21 + 21
    // profiles + filters + padding + padding + margin
    max-width: 1447px;
}

.single-content {
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 21px;
    line-height: 30px;
    padding: 0 21px;
}

.content-heading {
    display: inline;
    font-size: 20px;
    font-weight: 500;
    margin-right: 21px;
    overflow-wrap: break-word;
}

.content-description {
    display: block;
    padding-left: 21px;
    margin-top: -7px;
    margin-bottom: 21px !important;
    font-size: 14px;
}

.content-header-tabs {
    display: inline-block;

    .content-header-tab:last-child {
        margin-right: 0;
    }
}

.content-header-tab {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-right: 21px;
    margin-bottom: 0;
}
