.content {
    display: grid;
    // grid-template-columns: 1fr 1002px 1fr;
    // max-width: 1002px;
    // calc(100vh - topBar - footer);
    min-height: calc(100vh - 41px - 41px);
    // padding: 21px 0;
    // margin: auto;
}

.wide-content {
    @extend .content;
    // 422 + 962 + 21 + 21 + 21
    // profiles + filters + padding + padding + margin
    // grid-template-columns: 1fr 1300px 1fr;
    // max-width: 1447px;
}

.single-content {
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
}

.actual-content {
    display: grid;
    gap: 21px;
    padding: 21px 0;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    line-height: 30px;
    padding: 0 21px;
}

.content-header-section {
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
    align-items: baseline;
}

.content-heading {
    display: inline;
    font-size: 20px;
    font-weight: 500;
    overflow-wrap: break-word;
    margin: 0;
}

.content-heading-icon {
    margin-right: 10px;
}

.content-heading-fa-icon {
    margin-right: 8px;
}

.content-description {
    display: block;
    padding: 0 21px;
    font-size: 14px;
}

.content-columns {
    display: grid;
    gap: 21px;
    grid-template-columns: 1fr;

    > * {
        display: grid;
        gap: 21px;
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: 0.5fr 1fr;
        padding: 0 21px;
    }

    @media screen and (min-width: 1340px) {
        grid-template-columns: 420px 1fr;
        padding: 0 21px;
    }
}
