.copyable {
    @extend a;
    cursor: pointer;
    font-weight: 500;
    &:hover{
        +.copyable-copy {
            display: initial;
        }
    }
}

.copyable-copied {
    font-size: 12px;
    line-height: 14px;
    color: $light-text-color;
    font-weight: 400;
    margin-left: 6px;
}

.copyable-copy {
    @extend .copyable-copied;
    display: none;
}
