.landing-section {
    &:nth-child(2n + 1) {
        background-color: hsl(24deg 25% 93%);
    }

    @media screen and (min-width: 700px) {
        &:nth-child(2n) {
            .landing-section-content {
                grid-template-areas: "text image";
            }
        }

        &:nth-child(2n + 1) {
            .landing-section-content {
                grid-template-areas: "image text";
            }
        }
    }
}

.landing-section-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 21px;
    text-align: center;
    padding: 42px 21px;

    @media screen and (min-width: 700px) {
        grid-template-columns: 1fr 1fr;
        text-align: left;
        max-width: 1000px;
        margin: auto;
    }
}

.landing-section-text {
    @media screen and (min-width: 700px) {
        place-self: center;
        grid-area: text;
    }
}

.landing-section-heading {
    font-size: 26px;
    line-height: 1.2;
}

.landing-section-heading-icon {
    margin-right: 12px;
    color: $primary-color;
}

.landing-section-subheading {
    font-size: 20px;
}

.landing-section-description {
    font-size: 16px;
    margin-bottom: 32px;
}

.landing-section-buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 21px;

    @media screen and (min-width: 450px) {
        grid-template-columns: 1fr 1fr;
    }
}

.landing-section-button {
    @extend .primary-button;
    display: block;
    font-size: 16px;
    margin: auto;
    padding: 18px;
    width: fit-content;
    width: -moz-fit-content;
}

.landing-section-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    place-self: center;

    @media screen and (min-width: 700px) {
        max-height: 700px;
        grid-area: image;
    }
}
