.modal-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden auto;
    z-index: 3;
}

.modal-content {
    border-top: $border;
    border-bottom: $border;
    background-color: white;
    margin: 64px auto;
    width: 100%;

    @media screen and (min-width: 1020px) {
        border: $border;
        border-radius: $border-radius;
        max-width: 1000px;
    }
}

.modal-title {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 14px 21px;
    position: relative;
    text-align: center;
    border-bottom: $border;
}

.modal-close-button {
    width: 30px;
    height: 30px;
    border-radius: $border-radius;
    border: none;
    background-color: white;
    position: absolute;
    right: 21px;
    top: 14px;
    padding: 0;

    &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }
}

.modal-close-button-icon {
    font-size: 20px;
}

.unscrollable {
    overflow: hidden;
}
