.modal-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden auto;
    z-index: 1;
}

.unscrollable {
    overflow: hidden;
}
