.pagination {
    display: flex;
    height: 50px;
    border-top: 1px solid #ccc;
}

.pagination-left-buttons {
    display: flex;
    flex: 1 1 100%;
}

.pagination-right-buttons {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
}

%pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #888;
    flex: 1 1 80px;
    height: 100%;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: $font;
    cursor: pointer;

    &:hover {
        background-color: #f2f2f2;
        color: #333;
        text-decoration: none;
    }

    &:active {
        background-color: #e6e6e6;
        color: #333;
    }
}

.pagination-first-button {
    @extend %pagination-button;
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 4px;
}

.pagination-previous-button {
    @extend %pagination-button;
    border-right: 1px solid #ccc;
}

.pagination-next-button {
    @extend %pagination-button;
    border-left: 1px solid #ccc;
}

.pagination-last-button {
    @extend %pagination-button;
    border-left: 1px solid #ccc;
    border-bottom-right-radius: 4px;
}

.disabled-pagination-button {
    cursor: not-allowed;
    background-color: white;
    color: #ccc;

    &:hover {
        background-color: white;
        color: #ccc;
    }

    &:active {
        background-color: white;
        color: #ccc;
    }
}

.pagination-page {
    flex: 1 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
}
