.password-input-container {
    display: flex;
}

.password-input {
    @extend .text-line-input;
    width: 100%;
    flex-grow: 1;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.password-input-button {
    @extend .regular-button;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #ccc;
}
