.popover-container {
    position: relative;
}

.popover-button-caret {
    font-size: 20px;
    margin-left: 6px;
    vertical-align: -2px;
}

.popover {
    position: absolute;
    background-color: white;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: max-content;
    max-width: calc(100vw - 28px);
    box-sizing: border-box;
    padding: 4px 0;
    z-index: 1;
}

.popover-bottom-end {
    top: 100%;
    right: 0;
}

.popover-centered {
    left: 50%;
    transform: translate(-50%, 0);
}

.popover-item {
    display: flex;
    align-items: center;
    padding: 9px 12px;
    cursor: pointer;
    line-height: 1;

    &:hover {
        background-color: #f2f2f2;
    }

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}
