.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -14px;
    margin-bottom: -14px;
}

.profile-header-item {
    margin-right: 14px;
    margin-bottom: 14px;
}

.profile-heading {
    display: inline;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.profile-subheading {
    font-size: 12px;
    line-height: 1.5;
    color: #888;
}
