.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}

.team-profile-heading-container {
    display: flex;
    align-items: stretch;
    gap: 6px 12px;
    flex-wrap: wrap;

    > .profile-subheading {
        align-self: center;
    }

    > .divider {
        margin: 0;
        align-self: center;
        margin: 0 -6px;
    }
}

.profile-heading {
    display: inline;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    margin: 0;
}

.profile-heading-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: -2px;
}

.profile-subheading {
    font-size: 12px;
    line-height: 1.5;
    color: $light-text-color;
}
