.select {
    position: relative;
}

.selected {
    @extend %bordered;
    height: 15px;
    padding: 5px;
    cursor: default;
    user-select: none;

    &::after {
        content: "";
        position: absolute;
        border: 6px solid transparent;
        border-color: #1a1a1b transparent transparent transparent;
        right: 10px;
        top: 10px;
    }
}

.selected-open {
    @extend .selected;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::after {
        border-color: transparent transparent #1a1a1b transparent;
        top: 5px;
    }
}

.options {
    @extend %bordered;
    border-top-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
}

.option {
    height: 15px;
    padding: 5px;
    cursor: default;
    user-select: none;

    &:not(:last-child) {
        border-bottom-style: solid;
        border-width: 1px;
        border-color: hsla(0, 0%, 80%, 1);
    }

    &:hover {
        background-color: #f2f2f2;
    }
}
