.top-bar {
    top: 0;
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.top-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: $max-width;
    padding: 0 14px;
    margin: auto;
}

.top-bar-logo {
    color: white;
    background-color: $primary-color;
    display: inline-flex;
    justify-content: center;
    width: 26px;
    border-radius: 4px;
    margin-right: 6px;
}

.top-bar-title {
    margin-bottom: 0;
    font-weight: 700;
}

.top-bar-link {
    margin-left: 24px;
    font-weight: 500;
}
