.top-bar {
    top: 0;
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
    z-index: 2;
}

.top-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 21px;
    margin: auto;
}

.top-bar-left {
    display: flex;

    @media screen and (min-width: 461px) {
        gap: 32px;
    }
}

.top-bar-title {
    display: flex;
    align-items: center;
}

.top-bar-title-logo {
    width: 26px;
    height: 26px;
    margin-right: 8px;
}

.top-bar-title-text {
    @media screen and (min-width: 901px) {
        display: inline;
        line-height: 40px;
        font-size: 20px;
        font-weight: 700;
    }

    @media screen and (max-width: 900px) {
        display: none
    }
}

.top-bar-game-selection {
    display: flex;

    @media screen and (min-width: 461px) {
        gap: 6px;
    }
}

.top-bar-games {
    font-weight: 500;
    line-height: 40px;
}

.top-bar-games-title {
    display: none;

    @media screen and (min-width: 1041px) {
        display: inline;
    }
}

.top-bar-games-short-title {
    display: none;

    @media screen and (min-width: 461px) and (max-width: 1040px) {
        display: inline;
    }
}

i.top-bar-games-icon {
    font-size: 22px;
    vertical-align: -3px;
}

img.top-bar-games-icon {
        height: 22px;
        width: 22px;
        vertical-align: -6px;
}

.top-bar-games-icon {
    @media screen and (min-width: 461px) {
        margin-right: 8px;
    }

    @media screen and (max-width: 460px) {
        padding: 0 9px;
        text-align: center;
    }
}

.top-bar-games-caret {
    font-size: 20px;
    padding: 0 8px;
    line-height: 40px;
    color: $primary-color;
    cursor: pointer;
}

.top-bar-games-popover-container {
    @media screen and (min-width: 461px) {
        position: relative;
    }
}

.top-bar-games-popover {
    @extend .popover;
    left: 50%;
    transform: translate(-50%, 0);
    max-height: calc(100vh - 41px - 80px);
    overflow: auto;
}

.top-bar-game {
    font-size: 16px;
    padding: 9px 12px;
}

.top-bar-game-link {
    display: block;
    margin-bottom: 6px;
}

.top-bar-game-icon {
    height: 22px;
    width: 22px;
    margin-right: 8px;
    vertical-align: -3px;
}

.top-bar-game-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.top-bar-navigation {
    display: flex;

    @media screen and (min-width: 801px) {
        gap: 24px;
    }

    @media screen and (min-width: 461px) and (max-width: 800px) {
        gap: 14px;
        margin-left: -14px;
    }

    .top-bar-navigation-item {
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;

        .top-bar-navigation-item-icon {
            font-size: 20px;
            vertical-align: -2px;

            @media screen and (min-width: 801px) {
                margin-right: 10px;
            }

            @media screen and (max-width: 800px) {
                width: 40px;
                text-align: center;
            }
        }

        .top-bar-navigation-item-text {
            display: none;

            @media screen and (min-width: 801px) {
                display: inline;
            }
        }
    }
}


.top-bar-menu {
    margin-right: -11.25px;
}

.top-bar-menu-button {
    @extend .top-bar-button;
    color: rgba(0,0,0,.733);

    @media screen and (max-width: 600px) {
        width: 40px;
        height: 40px;
        padding: 0;
    }

    @media screen and (min-width: 601px) {
        display: none;
    }
}

.top-bar-menu-button-icon {
    font-size: 20px;
    vertical-align: middle;
}

.top-bar-menu-items {
    @media screen and (max-width: 600px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(100vh - 41px);
        margin-top: 41px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.hidden-top-bar-menu-items {
    @extend .top-bar-menu-items;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.top-bar-menu-item {
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    background-color: white;

    @media screen and (max-width: 600px) {
        display: block;
        width: 100%;
        padding: 0 21px;
        border-bottom: 1px solid #ccc;
    }

    @media screen and (min-width: 581px) {
        display: inline-block;
        padding: 0 12px;
    }
}

.top-bar-link {
    display: inline-block;
    font-weight: 500;
    padding: 0 12px;
    line-height: 40px;
}

.top-bar-button {
    @extend %button;
    @extend %bordered;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    line-height: 38px;

    &:hover {
        background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
    }
}

.top-bar-filler {
    display: block;
    height: 41px;
}
