.about-title {
    text-align: center;
    font-size: 28px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.about-heading {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.about-list {
    list-style-type: disc;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 28px;
    margin-top: 0;
    margin-bottom: 0.5em;
}
