.filters-and-profiles {
    display: flex;
    flex-direction: column;
    column-gap: 21px;

    @media screen and (min-width: 960px) {
        flex-direction: row;
        align-items: stretch;
        padding: 0 21px;
    }
}

.filters-container {
    @media screen and (min-width: 960px) {
        min-width: 300px;
        max-width: 420px;
        flex: 1 0 30%;
    }
}

.profiles-container {
    @media screen and (min-width: 960px) {
        flex: 0 1 100%;
    }
}
