.welcome-container {
    max-width: 420px;
    margin: 64px auto;
    padding: 0 21px;
}

.welcome {
    @extend %bordered;
    padding: 21px;
    background-color: white;
    text-align: center;
}

.welcome-heading {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 14px;
}

.welcome-text {
    margin-bottom: 14px;
}
