.page-wizard {
    background-color: white;
    width: fit-content;
    max-width: 960px;
    margin: 64px auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    @media screen and (min-width: 380px) {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-radius: 4px;
    }
}

.page-wizard-step {
    padding: 21px;
}

.page-wizard-step-title {
    margin-bottom: 21px;
    text-align: center;
}

.page-wizard-step-description {
    margin-bottom: 14px;
    text-align: center;
}

.page-wizard-step-buttons {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    border-top: 1px solid #ccc;

    button {
        width: 100px;
    }
}

.enter-player-details {
    margin-top: -21px;
}
