.page-wizard {
    background-color: white;
    width: fit-content;
    max-width: 1000px;
    margin: 64px auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    @media screen and (min-width: 380px) {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-radius: 4px;
    }
}

.page-wizard-step {
    padding: 21px;
}

.page-wizard-step-title {
    margin-bottom: 21px;
    text-align: center;
}

.page-wizard-step-description {
    margin-bottom: 14px;
    text-align: center;
}

.page-wizard-step-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 14px;
    border-top: 1px solid #ccc;

    button {
        width: 100px;
    }
}

.page-wizard-skip-button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-wizard-skip-button-underlabel {
    @extend .input-underlabel;
    margin-top: 7px;
    max-width: 200px;
}

@media screen and (min-width: 380px) {
    .page-wizard-skip-button-group {
        align-items: center;
        flex-direction: row;
    }

    .page-wizard-skip-button-underlabel {
        margin-top: 0;
        margin-left: 7px;
    }
}

.enter-player-details {
    margin-top: -21px;
}
